@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="bg-color">

        <article class="content">
            @Body
        </article>
    </main>
</div>
