@page "/"

<div style="display: flex; flex-direction: column; padding: 128px; height: 500px" class="navbar-color">
    <img src="images/logo.png" style="max-width: 100%; height: 50%;" />
    <h2 style="font-weight: 800; font-size: 72px;">Village Rentals</h2>
    <h3>
        Anothony Nwachukwu Ogamba
        Eno Attah Ekpenyong
        James Baes
        Samir Karki
    </h3>
</div>


@code {
    protected override async Task OnInitializedAsync()
    {
        try
        {
            CustomerService service = new();
            service.InitializeCustomerDb();
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Customer Database initialization failed: {ex.Message}");
        }

        try
        {
            EquipmentService service = new();
            service.InitializeEquipmentDb();
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Reservation initialization failed: {ex.Message}");
        }
    }
}