@page "/"

<div style="display: flex; flex: 1; flex-direction: column;  margin-top: 64px; padding: 32px; align-items: center; color: white; gap: 12px;" class="navbar-color">
    <img src="images/logo.png" style="width: 40%; height: 15%;" />
    <h2 style="font-weight: 800; font-size: 54px;">Village Rentals</h2> 
    <h4 style="color: white;">Anothony Nwachukwu Ogamba</h4>
    <h4 style="color: white;">Eno Attah Ekpenyong</h4>
    <h4 style="color: white;">James Baes</h4>
    <h4 style="color: white;">Samir Karki</h4>
</div>


@code {
    protected override async Task OnInitializedAsync()
    {
        try
        {
            CustomerService service = new();
            service.InitializeCustomerDb();
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Customer Database initialization failed: {ex.Message}");
        }

        try
        {
            EquipmentService service = new();
            service.InitializeEquipmentDb();
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Reservation Database initialization failed: {ex.Message}");
        }

        try
        {
            RentalService service = new();
            service.InitializeRentalsDb();
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Rentals Database initialization failed: {ex.Message}");
        }

        await Task.Delay(100);
    }
}